<html>

<head>
  <title>BlueOS Network Scanner</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="/css/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<style>
  .v-card {
    padding: 20px;
  }

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }
</style>

<div id="app">
  <v-app>
    <v-main>
      <v-container>
        <h1>Network Scanner</h1>
        <!-- This card is from  https://vuetifyjs.com/en/components/cards/#outlined -->
        <v-row>
          <v-card class="mx-auto" max-width="700" outlined>
            <v-card v-for="iface in filtered_networks" :key="iface.interface">
              <v-card-title> {{ iface.interface }}</v-card-title>
              <v-card-text>
                <v-card v-for="ip in ips(iface)" :key="ip.address">
                  <div><strong>IP:</strong> {{ip.address}}</div>
                  <div><strong>NetMask:</strong> {{ip.netmask}}</div>
                  <v-card-actions>
                    <div><v-btn color="primary" :loading="loading" :disabled="loading" @click="scan(ip)">Scan</v-btn></div>
                    <div><v-btn color="primary" :loading="loading" :disabled="loading" @click="scan_http(ip)">Scan for Web pages</v-btn></div>
                  </v-card-actions>

                  <v-simple-table>
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-left">IP</th>
                          <th class="text-left">Hostname?</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(host, name) in found_hosts[ip.address]">
                          <td v-if="is_http"><a :href="`http://${name}`">{{name}}</a></td>
                          <td v-else>{{ name }}</td>
                          <td>{{ host.hostname.length ? host.hostname[0].name : '-' }}</td>
                        </tr>
                      </tbody>
                    </template>
                </v-card>
                </card>
              </v-card-text>
            </v-card>
            <v-card-actions>
              <!-- <v-btn outlined rounded text @click="saveTextToBackend()">
                                Save
                            </v-btn> -->
            </v-card-actions>
          </v-card>

        </v-row>
      </v-container>
    </v-main>
  </v-app>
</div>

<script src="/js/vue.js"></script>
<script src="/js/vuetify.js"></script>
<script src="/js/axios.min.js"></script>

<script>
  Vue.config.devtools = true;
  new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data() {
      return {
        interfaces: {},
        loading: false,
        found_hosts: {},
        is_http: false,
      }
    },
    methods: {
      ips(iface) {
        return iface.addresses.filter((address) => address.type === 'IPv4');
      },
      async loadInterfaces() {
        axios.get("/v1.0/interfaces").then(response => {
          this.interfaces = response.data;
        })
      },
      scan(ip) {
        this.loading = true
        axios.post('/v1.0/scan', null, {
          params: {
            ip: ip.address,
            netmask: ip.netmask,

          }
        }).then(response => {
          this.is_http = false;
          console.log(response.data);
          Vue.set(this.found_hosts, ip.address, response.data);
        }).finally(() => {
          this.loading = false;
        });
      },
      scan_http(ip) {
        this.loading = true
        axios.post('/v1.0/scan_http', null, {
          params: {
            ip: ip.address,
            netmask: ip.netmask,

          }
        }).then(response => {
          this.is_http = true;
          Vue.set(this.found_hosts, ip.address, response.data);
        }).finally(() => {
          this.loading = false;
        })
      }

    },
    mounted() {
      this.loadInterfaces()
    },
    computed: {
      filtered_networks() {
        return Object.values(this.interfaces).filter((iface) => ['docker0', 'lo', 'vnet0'].indexOf(iface.interface) === -1);
      }
    }
  })

</script>

</html>